<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/minireset.css" />
    <link rel="stylesheet" href="../../static/css/common.css" />
    <link rel="stylesheet" href="../../static/css/style.css" />
    <link rel="stylesheet" href="../../static/css/cart.css" />
    <link rel="stylesheet" href="../../static/css/bookManger.css" />
    <link rel="stylesheet" href="../../static/css/register.css" />
    <link rel="stylesheet" href="../../static/css/book_edit.css" />
  </head>
  <body>
    <div class="header">
      <div class="w">
        <div class="header-left">
          <a href="../../index.html">
            <img src="../../static/img/logo.gif" alt=""
          /></a>
          <h1>Edit Course</h1>
        </div>
        <div class="header-right">
          <a href="./book_manager.html" class="order">course management</a>
          <a href="./order_manager.html" class="destory">order management</a>
          <a href="../../index.html" class="gohome">Home</a>
        </div>
      </div>
    </div>
    <div class="login_banner">
      <div class="register_form">
        <form action="">
          <div class="form-item">
            <div>
              <label>Name:</label>
              <input type="text" placeholder="Name" />
            </div>
            <span class="errMess" style="visibility: visible;"
              >Please type right name</span>
          </div>
          <div class="form-item">
            <div>
              <label>Price:</label>
              <input type="number" placeholder="Price" />
            </div>
            <span class="errMess">Please type right numbers</span>
          </div>
          <div class="form-item">
            <div>
              <label>Teacher:</label>
              <input type="text" placeholder="Teacher" />
            </div>
            <span class="errMess">Please type right teacher</span>
          </div>
          <div class="form-item">
            <div>
              <label>Description:</label>
              <input type="number" placeholder="Description" />
            </div>
            <span class="errMess">Please type right description</span>
          </div>

          <button class="btn">Submit</button>
        </form>
      </div>
    </div>
    <div class="bottom">
      Copyright ©2022
    </div>
  </body>
</html>
