<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Login success</title>
<link type="text/css" rel="stylesheet" href="../../static/css/style.css" >
<style type="text/css">
	h1 {
		text-align: center;
		margin-top: 200px;
	}
	
	h1 a {
		color:red;
	}
</style>
</head>
<body>
		<div id="header">
				<a href="../../index.html">
					<img class="logo_img" alt="" src="../../static/img/logo.gif" />
				</a>
				<div>
					<span>Welcome<span class="um_span">Jie</span>to Elearning</span>
					<a href="../order/order.html">My order</a>
					<a href="../../index.html">Logout</a>&nbsp;&nbsp;
					<a href="../../index.html">Back</a>
				</div>
		</div>
		
		<div id="main">
		
			<h1>Welcome back <a href="../../index.html">go to Home</a></h1>
	
		</div>
		
		<div id="bottom">
			<span>
				Copyright &copy;2022
			</span>
		</div>
</body>
</html>