<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Register</title>
  <link type="text/css" rel="stylesheet" href="../../static/css/style.css" />
  <link rel="stylesheet" href="../../static/css/register.css" />
  <style type="text/css">
    .login_form {
      height: 420px;
      margin-top: 25px;
    }
  </style>

  <script src="../../static/script/vue.js"></script>
</head>
<body>
  <div id="app">
    <div id="login_header">
      <a href="../../index.html">
        <img class="logo_img" alt="" src="../../static/img/logo.gif" />
      </a>
    </div>

    <div class="login_banner">
      <div class="register_form">
        <h1>Register</h1>
        <form action="register-success.html">
          <div class="form-item">
            <div>
              <label>username:</label>
              <input type="text" placeholder="username" v-model="username" @blur="checkUsername"/>
            </div>
            <span style="color: red" th:text="${customerName}" >{{usernameErrorMessage}}</span>
          </div>
          <div class="form-item">
            <div>
              <label>password:</label>
              <input type="password" placeholder="password" v-model="password"/>
            </div>
            <span style="color: red" th:text="${customerPassword}">{{passwordErrorMessage}}</span>
          </div>
          <div class="form-item">
            <div>
              <label>re-pwd:</label>
              <input type="password" placeholder="re-password" v-model="passwordConfirm"/>
            </div>
            <span style="color: red">{{confirmErrorMessage}}</span>
          </div>
          <div class="form-item">
            <div>
              <label>email:</label>
              <input type="text" placeholder="email" v-model="email"/>
            </div>
            <span style="color: red" th:text="${customerEmail}">{{emailErrorMessage}}</span>
          </div>
          <div class="form-item">
          </div>
          <button class="btn" @click="registerCheck" th:href="@{/register( Customer customer)}" >Sign up</button>
        </form>
      </div>
    </div>
    <div id="bottom">
    <span>
      Copyright &copy;2022
    </span>
    </div>
  </div>
  <script>
    var vue = new Vue({
      "el":"#app",
      "data":{
          "username":"",
          "password":"",
          "passwordConfirm":"",
          "email":"",
          "code":"",
          "usernameErrorMessage":"",
          "passwordErrorMessage":"",
          "confirmErrorMessage":"",
          "emailErrorMessage":""
      },
      "methods":{
        checkUsername(){
          var usernameRegExp = /^[A-Za-z0-9_]{5,8}$/;
          if (!usernameRegExp.test(this.username)) {
            this.usernameErrorMessage = "Username must be 5-8 digits, letters or underscores"
          }else {
            this.usernameErrorMessage = ""
          }
        },
        registerCheck(){
          var usernameRegExp = /^[A-Za-z0-9_]{5,8}$/;
          if (!usernameRegExp.test(this.username)) {
            event.preventDefault()
            this.usernameErrorMessage = "Username must be 5-8 digits, letters or underscores"
            return
          }

          var passwordRegExp = /^[A-Za-z0-9_]{6,10}$/;
          if (!passwordRegExp.test(this.password)) {
            event.preventDefault()
            this.passwordErrorMessage = "Password must be 6-10 digits, letters or underscores"
            return
          }else {
            this.passwordErrorMessage = ""
          }

          if (this.password != this.passwordConfirm) {
            event.preventDefault()
            this.confirmErrorMessage = "The password entered twice must be the same"
            return
          }else {
            this.confirmErrorMessage = ""
          }

          var emailRegExp = /^[a-zA-Z0-9_\.-]+@([a-zA-Z0-9-]+[\.]{1})+[a-zA-Z]+$/;
          if(!emailRegExp.test(this.email)){
            event.preventDefault()
            this.emailErrorMessage = "Email format is incorrect"
            return
          }else {
            this.emailErrorMessage = ""
          }
        }
      }
      /*"watch":{
        "username":function (inputValue) {
          var usernameRegExp = /^[A-Za-z0-9_]{5,8}$/;
          if (!usernameRegExp.test(inputValue)) {
            this.usernameErrorMessage = "Username must be 5-8 digits, letters or underscores"
          }else {
            this.usernameErrorMessage = ""
          }
        }
      }*/
    });
  </script>
</body>
</html>
