<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head>
		<title>Add Todo</title>
		
		<link rel="stylesheet" 
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" 
			integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" 
			crossorigin="anonymous" />
	</head>
	<body>
		
		<div class="container">
		
			<h3>Add New Todo</h3>
			<hr/>
			
			<form th:action="@{/saveTodo}" th:object="${todo}" method="POST">
				
				<input type="text" th:field="*{task}" class="form-control col-4 mb-4" placeholder="Enter task" />
				
				<input type="text" th:field="*{dueDate}" class="form-control col-4 mb-4" placeholder="Enter duedate" />
				
<!--				<input type="text" th:field="*{isDone}" class="form-control col-4 mb-4" placeholder="Enter isdone" />-->

<!--				<input type="text" th:field="*{isDone}" class="form-control col-4 mb-4" placeholder="Enter isdone" />-->

					<p>Task is done?</p>
					<input type="radio" name="isDone" value="1">
					<label for="Yes">Yes</label><br>
					<input type="radio"  name="isDone" value="0">
					<label for="No">No</label><br>



                                <button type="submit" class="btn btn-primary col-2">Save</button>
                                <input type="hidden" th:field="*{id}" />

                            </form>
                            <hr/>
                            <a th:href="@{/list}">Back to list</a>
                        </div>

                    </body>
                </html>