<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Orders</title>
    <link rel="stylesheet" href="../../static/css/minireset.css" />
    <link rel="stylesheet" href="../../static/css/common.css" />
    <link rel="stylesheet" href="../../static/css/cart.css" />
    <link rel="stylesheet" href="../../static/css/bookManger.css" />
    <link rel="stylesheet" href="../../static/css/orderManger.css" />
  </head>
  <body>
    <div class="header">
      <div class="w">
        <div class="header-left">
          <a href="../../index.html">
            <img src="../../static/img/logo.gif" alt=""
          /></a>
          <h1>My Orders</h1>
        </div>
        <div class="header-right">
          <h3>Welcome<span>Jie</span>to JACEDU</h3>
          <div class="order"><a href="../order/order.html">My Order</a></div>
          <div class="destory"><a href="../../index.html">Log Out</a></div>
          <div class="gohome">
            <a href="../../index.html">Return</a>
          </div>
        </div>
      </div>
    </div>
    <div class="list">
      <div class="w">
        <table>
          <thead>
            <tr>
              <th>Order Number</th>
              <th>Date</th>
              <th>Amount</th>
              <th>Quantity</th>
              <th>Status</th>
              <th>Detail</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>12354456895</td>
              <td>
                2015.04.23
              </td>
              <td>90.00</td>
              <td>88</td>
              <td><a href="" class="send">To be shipped</a></td>
              <td><a href="">Detail</a></td>
            </tr>
            <tr>
              <td>12354456895</td>
              <td>
                2015.04.23
              </td>
              <td>90.00</td>
              <td>88</td>
              <td><a href="" class="send">shipping</a></td>
              <td><a href="">Detail</a></td>
            </tr>
            <tr>
              <td>12354456895</td>
              <td>
                2015.04.23
              </td>
              <td>90.00</td>
              <td>88</td>
              <td><a href="" class="send">Delivered</a></td>
              <td><a href="">Detail</a></td>
            </tr>
          </tbody>
        </table>

        <div class="footer">
          <div class="footer-right">
            <div>First Page</div>
            <div>Previous</div>
            <ul>
              <li class="active">1</li>
              <li>2</li>
              <li>3</li>
            </ul>
            <div>Next</div>
            <div>Last Page</div>
            <span>total 10 Pages</span>
            <span>30 record</span>
            <span>Go to</span>
            <input type="text">
            <span>page</span>
            <button>Confirm</button>
          </div>
        </div>
      </div>
    </div>

    <div class="bottom">
      <div class="w">
        <div class="top">
          <ul>
            <li>
              <a href="">
                <img src="../../static/img/bottom1.png" alt="" />
                <span>All by Professor</span>
              </a>
            </li>
            <li>
              <a href="">
                <img src="../../static/img/bottom.png" alt="" />
                <span> Technologies in tune with industry needs</span>
              </a>
            </li>
            <li>
              <a href="">
                <img src="../../static/img/bottom2.png" alt="" />
                <span>Hands-on approach</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="content">
          <dl>
            <dt>About JACEDU</dt>

          </dl>
          <dl>
            <dt>Resource Download</dt>


          </dl>
          <dl>
            <dt>Join Us</dt>


          </dl>
          <dl>
            <dt>Contact Us</dt>
            <!-- <dd>https://www.johnabbott.qc.ca/
              <dd> -->
          </dl>
        </div>
      </div>
      <div class="down">
        JACEDU.Copyright ©2022
      </div>
    </div>


  </body>
</html>
