<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Payment</title>
    <link type="text/css" rel="stylesheet" href="../../static/css/style.css">
    <link rel="stylesheet" href="../../static/css/minireset.css" />
    <link rel="stylesheet" href="../../static/css/common.css" />
    <link rel="stylesheet" href="../../static/css/cart.css" />
    <style type="text/css">
        h1 {
            text-align: center;
            margin-top: 200px;
            font-size: 26px;
        }
        
        .oid {
            color: red;
            font-weight: bolder;
        }
    </style>
</head>

<body>

    <!--	<div id="header">-->
    <!--			<img class="logo_img" alt="" src="../../static/img/logo.gif" >-->
    <!--			<span class="wel_word">Check out</span>-->
    <!--			<div>-->
    <!--				<span>Welcome <span class="um_span">Jie</span> to JACEDU</span>-->
    <!--				<a href="../order/order.html">My Orde</a>-->
    <!--				<a href="../../index.html">Log Out</a>&nbsp;&nbsp;-->
    <!--				<a href="../../index.html">Back</a>-->
    <!--			</div>-->
    <!--	</div>-->
    <div class="header">
        <div class="w">
            <div class="header-left">
                <a href="../../index.html">
                    <img src="../../static/img/logo.gif" alt="" /></a>
                <span>My Cart</span>
            </div>
            <div class="header-right">
                <h3>Welcome<span>Jie</span> to JACEDU</h3>
                <div class="order"><a href="../order/order.html">My Order</a></div>
                <div class="destory"><a href="../../index.html">Log Out</a></div>
                <div class="gohome">
                    <a href="../../index.html">Back</a>
                </div>
            </div>
        </div>
    </div>

    <div id="main">
        <h1>Your order have been Checked out，order Number:<span class="oid">546845626455846</span></h1>
    </div>

    <div id="bottom">
        <span>
			JACEDU.Copyright &copy;2022
		</span>
    </div>
</body>

</html>